*{
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

.my_bg {
    background-color: transparent !important;
}

.h3 {
    text-align: center;
}

body { 
    background-image: none !important;
}

.my_bg-nav {
    background-color: #1d4638;
}

.container-fluid {
    margin-left: 25px;
    margin-right: 15px;
}

.container-fluid2 {
    position: relative;
    top: 150px;
}

.nav-item {
    padding-left: 25px;
}



/* saiba mais*/

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
 

/*rodape*/

.footer-dark {
    width: 100%;
    padding: 15px;
    color: #f0f9ff;
    background-color: #1d4638;
    position: flex;
    bottom: 0;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 0px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}