*{
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

.imagem{
  background-image: url("/Imagens/kevin-et-laurianne-langlais-9XchRGDjhhQ-unsplash.png");
  background-position: center;
  background-size: cover;
  height: 770px;
  
}


.my_bg-nav {
    background-color: #1d4638;
}

.container-fluid2 {
    position: relative;
    top: 150px;
}

.nav-item {
    padding-left: 15px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 270px;
    height: 500px;
    margin: 10px;
}

.card-image {
    background-color: turquoise;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card h2 {
    text-align: center;
    padding: 10px;
}

.card p {
    padding: 10px;
}

.button {
    background-color: #1d4638;
    transition-duration: 0.4s;
    align: center;
}

.card button:hover {
    background-color: #1d4638;
    color: white;
    align: center;
}


/*rodape*/

.footer-dark {
    width: 100%;
    padding: 15px;
    color: #f0f9ff;
    background-color: #1d4638;
    position: flex;
    bottom: 0;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 0px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}