body {
    background-image: none !important;
    background-color: #fff !important;
    box-shadow: none !important;
}

.bg {
    background-color: white!important;
}

.history {
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}